.card {
  display: inline-flex;
  background-color: white;
  border-radius: 1rem;
  font-size: 1rem;
  box-shadow: 1px 10px 5px -7px rgba(0, 0, 0, 0.053);
  pointer-events: none;

  &__thumbnail {
    margin: 0.4rem;
    margin-right: 0.7rem;
    border-radius: 1rem;
    align-self: center;
    min-width: 200px;
    max-width: 150px;
    height: 120px;
  }

  &__wrapper {
    &__info {
      word-wrap: normal;
      color: $gray-600;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__title {
        margin: 0.5rem 0 0.5rem 0;
        width: fit-content;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        pointer-events: all;
      }

      &__content {
        display: -webkit-box;
        max-width: 95%;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0.5rem 1rem 0;

      &__author {
        display: flex;
        align-items: center;
        cursor: pointer;

        &__name {
          margin: 0 0.5rem;
        }

        &__profile-picture {
          min-width: 32px;
          min-height: 32px;

          max-width: 32px;
          max-height: 32px;

          border-radius: 100%;
        }
      }

      &__read-more {
        border: none;
        background: none;
        font-family: 'Poppins', sans-serif;
        color: $purple-300;
        padding: 0.3rem;
        border: 2px solid $purple-300;
        border-radius: 5px;
        font-size: 0.875rem;
        margin-right: 0.5rem;
        pointer-events: all;

        &:hover {
          background-color: $purple-500;
          font-weight: bold;
          color: white;
        }

        &:active {
          box-shadow: inset 0px -1px 20px 0px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }

  @media (max-width: 600px) {
    &__thumbnail {
      display: none;
    }

    &__wrapper {
      &__info {
        &__content {
          -webkit-line-clamp: 1;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    border-radius: 0 1rem 1rem 0;
    font-size: 0.875rem;
    pointer-events: all;
    cursor: pointer;

    &::before {
      content: '';
      min-width: 0.2rem;
      border-radius: 1rem 0 0 1rem;
      background-color: $purple-300;
    }

    &__thumbnail {
      min-width: 150px;
      max-width: 100px;
      height: 100px;
    }

    &__wrapper {
      &__info {
        margin-left: 1rem;
      }
      &__footer {
        justify-content: flex-end;
        &__author {
          flex-direction: row-reverse;

          &__profile-picture {
            margin-left: 0.5rem;
          }
        }

        &__read-more {
          display: none;
        }
      }
    }
  }

  @media (max-width: 1700px) {
    font-size: 0.875rem;

    &__wrapper {
      &__footer {
        &__read-more {
          font-size: small;
        }
      }
    }
  }
}
